### Java ###
*.class

# Images

# Intellij
*.idea

### Gradle ###
.gradle
/build/

### 
/library/classes/
/library/distributions/
/library/generated
/library/tmp/
/library/reports/
/library/scripts
/library/test-results/
/library/battlestar.jar

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
