### Java ###
*.class

# Package Files #
*.jar

# Images
*.png

### Gradle ###
.gradle
/build/

### 
/library/reports/
/library/test-results/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
